body{
    width: 960px;
    background-color: #dddd;
}

h1{
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 760px;
   
  }


a{
    text-decoration: none;
    color: #777777;
    float: right;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    margin-inline-end: 15px;
    }


.aboutme{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #4aaaa5;
    margin: 100px;
    background-color: #dddddd;
    padding: 20px;
    width: 700px;
  }

 

 .footer{
    background-color: #666666;
    color: white;
    height: 30px;
    font-size: 12px;
    text-align: center;
    
 }
