h1{
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 760px;
    
}

h3{
    color: #4aaaa5;
    font-size: 25px;
}

a{
    text-decoration: none;
    color: #777777;
    float: right;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    margin-inline-end: 15px;
    }

body{
    width: 960px;
    background-color: #ffffff;
}

.aboutme{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #4aaaa5;
  
  
}

.contact{
    width: 500px;
    color: #777777;
    background-color: #ffffff;
    margin-left: 300px;
    margin-top: 80px;
    padding: 10px;


}

input {
    width: 300px;
    padding: 40px;    
    border: 2px solid #777777;
    height: 40px;
    margin: 0px;
}


.footer{

    background-color: #666666;
    color: white;
    height: 30px;
    font-size: 12px;
    text-align: center;
 
    float: bottom;
    margin-top: 250px;
}

.box {
    color: white;
    background-color: #4aaaa5;
    height: 35px;
    margin-right: 410px;
    text-align: center;
    font-size: 22px;
}